#Django
*.pyc
*.pyo
*.pyd
__pycache__/
db.sqlite3
media/
.venv
/migrations/
migrations/
# System Files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.log
*.swp
shop_app/migrations/
core/migrations/


*.jpg
*.png
*.jpeg